name: CI

on:
  pull_request:
    branches: ["main", "master"]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          pip install -r requirements.txt
          pip install pytest ruff

      - name: Ruff
        run: ruff check --config=ruff.toml ./src

      - name: Pytest
        run: pytest
